<form action="/edit/<%= hotel.slug %>" method="POST">
  <div>
    <label for="hotel_name">hotel</label>
    <input
      type="text"
      name="name"
      id="hotel_name"
      required
      minlength="3"
      maxlength="100"
      <% if (locals.hotel.name){ %>
      value="<%= hotel.name %>"
      <% }%>
    />
  </div>
  <div>
    <button>Zapisz</button>
  </div>
</form>
