<form action="/edit/<%= cardset.slug %>" method="POST">
  <div>
    <label for="cardset_name">hotel</label>
    <input
      type="text"
      name="name"
      id="cardset_name"
      required
      minlength="3"
      maxlength="100"
      <% if (locals.cardset.name){ %>
      value="<%= cardset.name %>"
      <% }%>
    />
  </div>
  <div>
    <button>Zapisz</button>
  </div>
</form>
