<form action="/add_review/<%=hotel.slug%>" method="POST">
  <div>
    <label for="review_front">Tytuł</label>
    <input
      type="text"
      name="front"
      id="review_front"
      required
      minlength="1"
      maxlength="500"
      <% if (locals.front){ %>
      value="<%= front %>"
      <% }%>
    />
  </div>
  <div>
    <label for="review_back">Tekst</label>
    <input
      type="text"
      name="back"
      id="review_front"
      required
      minlength="1"
      maxlength="500"
      <% if (locals.back){ %>
      value="<%= back %>"
      <% }%>
    />
  </div>
  <div>
    <button>Dodaj</button>
  </div>
</form>
