<form action="/new_cardset" method="POST">
  <div>
    <label for="cardset_name">Nazwa hotelu</label>
    <input
      type="text"
      name="name"
      id="cardset_name"
      required
      minlength="3"
      maxlength="100"
      <% if (locals.name){ %>
      value="<%= name %>"
      <% }%>
    />
  </div>
  <div>
    <button>Dodaj</button>
  </div>
</form>
