<% if (locals.errors && errors.length > 0) { %>
  <ul>
    <% errors.forEach(function(error) { %>
      <li><%= error %></li>
    <% }) %>
  </ul>
<% } %>

<form action="/add_review/<%=hotel.slug%>" method="POST">
  <div>
    <label for="review_front">Tytuł</label>
    <input
      type="text"
      name="front"
      id="review_front"
      required
      minlength="3"
      maxlength="100"
      <% if (locals.front){ %>
      value="<%= front %>"
      <% }%>
    />
  </div>

  <div>
    <label for="review_back">Tekst</label>
    <input
      type="text"
      name="back"
      id="review_back"
      required
      minlength="10"
      maxlength="500"
      <% if (locals.back){ %>
      value="<%= back %>"
      <% }%>
    />
  </div>

  <div>
    <button>Dodaj</button>
  </div>
</form>