  <footer>
   <% if (app.cookie_consent == null) { %>
  
   <div id="cookie-container" class="cookie-container">
  
  <p>Szanujemy Twoją prywatność i autonomię. Nasza strona korzysta z cookies w celu poprawy Twojego doświadczenia wyłącznie za Twoją zgodą.</p>

  <p>Ty decydujesz, jak możemy korzystać z zasobów Twojego urządzenia.</p>

  <span class="custom-break"></span> 
  
  <div id="buttonContainer" class="cookie-buttons">
   
    <a href="/settings/accept-cookies" id="acceptButton" class="cookieButton">Zaakceptuj</button>
   
    <a href="/settings/decline-cookies" id="declineButton" class="cookieButton">Odrzuć</button>
    
    <a href="/settings/manage-cookies" id="manage-cookies">Zarządzaj cookies</a>
  </div>
</div> 
   <% } /* (app.cookie_consent == null) */ %>
  </footer>
  </div>
  </body>
</html>
