<!DOCTYPE html>
<html data-theme="<%- app.theme %>" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="container">
      <div class="settings">
        <section class="controls">
          <a href="/settings/toggle-theme?next=<%- encodeURIComponent(page) %>">
            <% if (app.theme === "dark") { %>
            <strong>Ciemny</strong> | Jasny
            <% } else { %>
            Ciemny | <strong>Jasny</strong>
            <% } %>
          </a>
        </section>
      </div>
      <header>
      <nav>
        <% if (page !== "/") { %>
        <a href="/">Powrót do listy hoteli</a>
        <% } %>
      </nav>
      <section class="controls">
        <% if (!page.startsWith("/auth/")) { %> 
          <% if (user) { %>
            <span>Zalogowany jako:  <%= user.username %></span>
            <a href="/auth/logout">Wyloguj</a>
          <% } else { %>
            <a href="/auth/login">Zaloguj</a>
          <% } %>
        <% } %>
      </section>
      </header>
